#services
  .wrapper
    width: 95% !important
    max-width: none !important

  background: $red-brand
  text-align: center
  position: relative
  height: auto
  &:after
    bottom: 0
    position: absolute
    background: inherit
    content: " "
    height: 100%
    left: 0
    right: 0
    transform: skewY(-10deg)
    transform-origin: 100%
    z-index: -1
    @media only screen and (max-width: 680px)
      display: none
  h2
    margin: 2em 0
    color: whitesmoke

  .second-title
    margin: 1em 0
    color: whitesmoke
    font-weight: 700
    font-size: 2.5em

.cards
  display: grid
  // grid-template-columns: repeat(3, auto)
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))
  grid-gap: 20px
  flex-wrap: nowrap
  grid-auto-flow: dense
  @media only screen and (max-width: 680px)
    grid-template-columns: repeat(1, auto)

.feature-card
  background: black
  color: $silver
  border-radius: 5px
  // padding: 30px 40px 10px 40px
  box-shadow: 0 12px 10px -10px rgba(0,0,0, 0.2)

  &-bg
    background: white
    color: black
    width: 100%

  h3
    margin: 10px 0 0
    font-family: $rajdhani
    font-weight: 700

  ul
    list-style: none
    margin: 0
    padding: 0

    li
      font-size: 1.5em
      font-family: $rajdhani
      font-weight: 700
      text-transform: uppercase
      &:last-child
        margin-bottom: 0.5em

// indpendientes
.price
  font-size: 2em !important
  font-family: $source !important
  font-weight: 400 !important

.rain-x img
  margin-top: .3em
  width: 100px

.triple-foam img
  margin-top: .3em
  width: 80px

.carte-first
  margin-top: 0.3em

.tax
  color: whitesmoke
  font-family: $rajdhani
  font-weight: 700
  font-size: 1.4em
  margin-top: 1em
